<footer class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <a routerLink="/">
        <img src="assets/Logo.png" alt="Designo Logo" class="footer-logo" />
      </a>
        <div class="footer-nav">
          <a routerLink="/our-company">Our Company</a>
          <a routerLink="/office">Locations</a>
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
  

      <div class="footer-bottom">
        <div class="footer-block">
          <p>
            <strong>Designo Central Office</strong><br />
            3886 Wellington Street<br />
            Toronto, Ontario M9C 3J5
          </p>
        </div>
        <div class="footer-block">
          <p>
            <strong>Contact Us (Central Office)</strong><br />
            P : +1 253-863-8967<br />
            M : contact&#64;designo.co
          </p>
        </div>
        <div class="footer-socials">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </footer>