<section class="locations">
    <div class="location">
      <img src="assets/Canada.png" alt="Canada" />
      <h3>CANADA</h3>
      <button>SEE LOCATION</button>
    </div>
    <div class="location">
      <img src="assets/Australia.png" alt="Australia" />
      <h3>AUSTRALIA</h3>
      <button>SEE LOCATION</button>
    </div>
    <div class="location">
      <img src="assets/UK.png" alt="United Kingdom" />
      <h3>UNITED KINGDOM</h3>
      <button>SEE LOCATION</button>
    </div>
  </section>