
<section class="hero">
    <div class="hero-content">
      <div class="text">
        <h1>Award-winning custom designs and digital branding solutions</h1>
        <p>With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
        <button>Learn more</button>
      </div>
      <div class="image">
        <img src="assets/phone.png" alt="Phone Mockup">
      </div>
    </div>
  </section>
  
  <section class="projects">
    <div class="card">
      <div class="overlay">
        <h2>WEB DESIGN</h2>
        <p>VIEW PROJECTS</p>
      </div>
      <img src="assets/web-design.jfif" alt="Web Design">
    </div>
    <div class="card">
      <div class="overlay">
        <h2>APP DESIGN</h2>
        <p>VIEW PROJECTS</p>
      </div>
      <img src="assets/app-design.jfif" alt="App Design">
    </div>
    <div class="card">
      <div class="overlay">
        <h2>GRAPHIC DESIGN</h2>
        <p>VIEW PROJECTS</p>
      </div>
      <img src="assets/graphic-design.jfif" alt="Graphic Design">
    </div>
  </section>
  
  <section class="values">
    <div class="value">
      <img src="assets/passionate.png" alt="Passionate">
      <h3>Passionate</h3>
      <p>Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design and technology into exciting new solutions.</p>
    </div>
    <div class="value">
      <img src="assets/resourceful.png" alt="Resourceful">
      <h3>Resourceful</h3>
      <p>Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.</p>
    </div>
    <div class="value">
      <img src="assets/friendly.png" alt="Friendly">
      <h3>Friendly</h3>
      <p>We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.</p>
    </div>
  </section>

<app-cta></app-cta>
